@font-face {
    font-family: 'YiddishkeitAlefAlefAlef';
    src: url('../fonts/YiddishkeitAlefAlefAlef-Bold.eot'); 
    src: url('../fonts/YiddishkeitAlefAlefAlef-Bold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/YiddishkeitAlefAlefAlef-Bold.woff') format('woff'),
         url('../fonts/YiddishkeitAlefAlefAlef-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap; 
}

/* font-family: 'YiddishkeitAlefAlefAlef', serif; */
/* font-family: "Manrope", sans-serif; */
:root {
    --primary-color: #610200; 
    --primary-dark: #8e0000;
    --primary-light: #d1925c;
    --secondary-color: #f1f1f1;
    --dark-color: #333;
    --light-color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    color: var(--dark-color);
    background-color: var(--secondary-color);
    line-height: 1.6;
    text-align: right;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--primary-dark);
}

p {
    margin: 10px 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}


ul {
    list-style: none;
}
.section-padding {
	padding: 60px 0;
}

h1 {
	font-size: 66px;
	line-height: 66px;
	color: var(--primary-color);
    font-family: 'YiddishkeitAlefAlefAlef', serif;
}
h4 {
	font-size: 46px;
	line-height: 46px;
	color: var(--primary-color);
	font-family: 'YiddishkeitAlefAlefAlef', serif;
}
h6 {
	font-size: 36px;
	line-height: 36px;
	color: var(--primary-color);
	font-family: 'YiddishkeitAlefAlefAlef', serif;
	letter-spacing: 3px;
}
.section_titile {
	margin-bottom: 35px;
}
.section_titile p {
	color: var(--primary-light);
	font-size: 22px;
	line-height: 22px;
	font-weight: 700;
}
.section_devider_image {
	margin-top: 5px;
}
.section_bg_pattern{
	background: url(../images/patternBg.png) no-repeat center center/cover;
}
.section_bg_pattern_long{
	background: url(../images/patternBgLong.png) no-repeat center center/cover;
}
/* header and banner area */
.full_width_header_banner_area{
    padding-top: 25px;
}

.logo {
    width: 100%;
	max-width: 150px;
	margin-right: auto;
}

.logo img{
    width: 100%;
}

.nav_icon {
	margin-left: 10px;
}

.nav_area li a {
	display: block;
	transition: .4s;
	border-radius: 25px;
	font-size: 18px;
	font-weight: 400;
}
.nav_area li a span{
    margin-left: 18px;
}
.nav_area li a:hover {
    background-color: var(--primary-color);
    color: var(--primary-light);
}
.nav_contuct_btns {
	padding: 9px 15px;
	border-radius: 25px;
	background-color: var(--primary-light);
	border: 1px solid var(--primary-color);
    transition: .4s;
    font-weight: 700 !important;
}
.nav_contuct_btns:hover{
    background-color: var(--primary-color);
    color: var(--primary-light);
}
.banner_area {
	margin-top: -52px;
}
.banner_content_area {
	background: url(../images/sliderImage.png) no-repeat left bottom;
	background-size: contain;
	background-position: left bottom;
	/* height: 899px; */
	box-sizing: border-box;
	padding-bottom: 440px;
	margin-bottom: 40px;
	filter: drop-shadow(0px 18px 18px rgba(97,2,0,0.13));
}

.banner_content {
	width: 100%;
	max-width: 50%;
	margin-left: auto;
}
.banner_content h1 {
	font-size: 120px;
	font-family: 'YiddishkeitAlefAlefAlef', serif;
	line-height: 120px;
    margin: 0;
	display: flex;
	flex-direction: column;
}   
.banner_content h3 {
	color: var(--primary-light);
	font-family: 'YiddishkeitAlefAlefAlef', serif;
	font-size: 86px;
	line-height: 74px;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}
.banner_content p {
	font-size: 22px;
	width: 100%;
	max-width: 376px;
    margin: 0; 
	color: var(--primary-color);
}

/* meat section csss  */
.meat_image {
	padding: 0 20px;
	box-sizing: border-box;
}
.meat_image img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.meat_content {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	height: 100%;
	text-align: center;
	gap: 35px;
}
.meat_content p {
	font-size: 26px;
	line-height: 26px;
	font-weight: 400;
	margin-top: 15px;
	color: var(--primary-color);
}
.meat_section_signature {
	margin-top: -25px;
}

/* products show section css  */
.item_details p {
	font-size: 26px;
	color: var(--primary-color);
	line-height: 27px;
	font-weight: 400;
	width: 100%;
	max-width: 90%;
}
.item_details span {
	font-size: 22px;
	font-weight: 700;
	color: var(--primary-light);
}

.section_content_image_grid {
	margin: 25px 0;
}

.section_content_image_grid.reverse_grid .item_details {
	margin-bottom: 18px;
}

/* contact section css  */
.grid_section_header {
	padding-bottom: 40px;
}
.grid_head_image {
	text-align: left;
}

.grid_head_title p {
	font-size: 68px;
	line-height: 66px;
	margin: 0;
	color: var(--primary-light);
	font-family: 'YiddishkeitAlefAlefAlef', serif;
}
.grid_head_title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100%;
}
.contact_info_details {
	text-align: left;
}
.contact_info_details h5 {
	font-size: 22px;
	line-height: 22px;
	color: var(--primary-color);
	font-weight: 700;
	margin:0;
}
.contact_info_details span {
	display: block;
	font-size: 22px;
	color: var(--primary-color);
	font-weight: 400;
}
.contact_icon_item {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	gap: 10px;
	margin: 5px 0;
}
.contact_info_details li {
	margin: 15px 0;
	box-sizing: border-box;
}
.contact_icon_item span {
	font-size: 21px;
	font-family: "Manrope", sans-serif;
	font-weight: 700;
	color: var(--primary-light);
}
.contact_form_area h2 {
	font-family: 'YiddishkeitAlefAlefAlef', serif;
	font-size: 46px;
	line-height: 46px;
	color: var(--primary-color);
	margin: 0;
}
.contact_form_area p {
	font-size: 22px;
	font-weight: 400;
	color: var(--primary-color);
	line-height: 26px;
}
.contact_form_area {
	width: 100%;
	max-width: 515px;
}
.input_item {
	padding: 14px 0;
}
.input_item input {
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	width: 100%;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 20px;
	color: var(--primary-color);
}
.input_item input::placeholder{
	opacity: 1;
	color: var(--primary-color);
}
.subcription_form {
	width: 100%;
	max-width: 416px;
}

.input_item.checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--primary-color); /* Default border uses primary-light */
    border-radius: 4px;
    width: 6px;
    height: 6px;
    background-color: white;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 3px;
    transition: all 0.2s ease;
    padding: 9px;
}

/* Default - Uses primary-light color */
.input_item.checkbox input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d1925c' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}

/* Option 2: Use primary-color (#610200 - dark red) */
.input_item.checkbox.primary-check input[type="checkbox"] {
    border-color: var(--primary-color);
}

.input_item.checkbox.primary-check input[type="checkbox"]:checked {
    border-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23610200' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}

/* Option 3: Use primary-dark (#8e0000 - brighter red) */
.input_item.checkbox.dark-check input[type="checkbox"] {
    border-color: var(--primary-dark);
}

.input_item.checkbox.dark-check input[type="checkbox"]:checked {
    border-color: var(--primary-dark);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%238e0000' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}
.input_item label {
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	color: var(--primary-color);
}
.form_icon {
	width: 100%;
	max-width: 83px;
	margin-bottom: 15px;
}
.form_icon img {
	width: 100%;
}
.section_features.contact_fromarea {
	position: relative;
} 	 
.contact_main_content {
	position: relative;
	z-index: 999;
	padding: 35px 60px;
	box-sizing: border-box;
} 	
.shapre_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* max-height: 577px; */
	filter: drop-shadow(0px 18px 18px rgba(97,2,0,0.13));
}
.shapre_bg img {
	width: 100%;
	height: 100%;
}
.info_identifiker {
	position: absolute;
	left: 30px;
	bottom: 5px;
}
.contact_info_details ul {
	padding: 0;
}
.knife_shape {
	position: absolute;
	bottom: 0%;
	left: 30%;
	z-index: 9;
}
.footer {
	padding-bottom: 30px;
}
.footer p {
	font-size: 12px;
	color: var(--primary-color);
	font-weight: 12px;
}
.hide_destop{
	display: none;
}